jupyter==1.0.0
matplotlib==2.1.1
numpy==1.13.3
scipy==0.19.1
pillow==6.2.0

# By default this project depends on the CPU version of TensorFlow:
tensorflow==1.12.2

# but you can install the GPU version instead if you know what you are doing:
#tensorflow-gpu==1.4.1
