jupyter==1.0.0
matplotlib==2.0.2
numpy==1.13.0

# By default this project depends on the CPU version of TensorFlow:
tensorflow==1.2.0

# but you can install the GPU version instead if you know what you are doing:
#tensorflow-gpu==1.2.0
